@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
   color: #f5f5f5;
}
/*-----navigation-----*/
.navigation{
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 20px 10%;
    background:rgba(42, 4, 71, 0.171) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    
    

}
.logo{
    text-decoration: none;
    color: #dfb0b0;
    font: 25px;
    font-weight: 700;
}
.navbar a{
    text-decoration: none;
    color: #5d8bff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;

}
.navbar a:hover{
    color: #bf5cf8;
    transition: 0.2s;

}
/*-----footer-----*/
.footer{
    text-align: center;
    padding-top: 20px;
    height: auto;
    width: 100%;
    bottom: 0;
    background-color: #130b28;
    color: #f5f5f5;
}
.footer h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.footer p{
    font-size: 14px;
    padding-bottom: 10px;
}
.footer-btn{
    padding: 10px 20px;
    background-color: #3d0768a3;
    color: #f5f5f5;
    font-size: 14px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
.footer-btn:hover{
    background-color: #bf5cf8;
    transition: 0.2s;
}
.footer hr{
    width: 80%;
    margin: 15px auto;
    border: 1px solid #f5f5f58f;
}

/*-----home section-----*/

.Homepage{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color:#130b28 ;
}
.homebg{
    width: 50%;
    height: 95%;
    object-fit: contain;
    padding-top: 5%;
    opacity: 85%;

}
.homecontent{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: slideUp 1.8s ease-out forwards;;
}
.homecontent h1{
    font-size: 75px;
    font-weight: 500;
    padding-top: 10px;
}
.socials{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.socials img{
    background-color: #bf5cf88d;
    border-radius:45px;
    padding: 10px 10px;
    width: 50px;
    margin: 5px;
    opacity: 80%;
}
.socials img:hover{
    background-color: #bf5cf8;
    scale: 1.2;
    opacity: 100%;
}
.about{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 90vh;  
    background-color: #130b28;
}
.about h2{
    font-size: 40px;
    padding-bottom: 5%
}
.about p{
    font-size: 20px;
    max-width: 550px;
    text-align: justify;
}
.profilePic{
    width: 350px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(212, 113, 213, 0.525);
    animation: slideRight 1.5s ease-out forwards;
    opacity: 90%;
}
.btn{
    padding: 10px 20px;
    background: linear-gradient(290deg,#455bbe,#9341da);
    color: rgb(214, 220, 249);
    font-weight: 500;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background: linear-gradient(290deg,#5487ee,#cc91ff);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.project{
    height: 100vh;
    background-color:#180e30;
}
.projectcontent{
    display: flex;
    text-align: center;
    justify-content: center;
    animation: slideUp 1.8s ease-out forwards;
    gap:5%;
}
.project h2{
    font-size: 40px;
    padding: 5%;
    text-align: center;


}
.projectcard{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(198, 102, 200, 0.219);
    gap: 20px;
    background-color: #130b28;
    opacity: 90%;
}

.projectcard img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    opacity: 90%;
}
.projectcard h4{
    font-size: 20px;
    font-weight: 500;
}
.projectcard p{
    font-size: 15px;
}   
.project-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    



















































/*-----common styles-----*/
h4{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

h1,h2{
    animation: slideUp 1.5s ease-out forwards;
    font-weight: 700;  
    background: linear-gradient(to right, #305fbd, #9341da); /* Define the gradient */
    -webkit-background-clip: text; /* Clip the background to the text -relies on text being transparent*/
    color: transparent; 
    text-shadow: 1px 1px 5px rgba(194, 196, 198, 0.168); /* Adds a shadow below text */

}  






/*************************Keyframes********************************/

@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }
}
@keyframes slidRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }
}