/* specify fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;

}
body{
   color:#bebcbe;
   

}
/*-----navigation-----*/
.navigation{
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10% 10px 8%; 
    background-color:#2A04472B ;

}
.logo{
    text-decoration: none;
    color: #dfb0b0;
    font-size: 25px;
    font-weight: 700;
    width: 50px;
}

.navbar a{
    text-decoration: none;
    color: #8040a5;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;

}
.navbar a:hover{
    color: #5d8bff;
    transition: 0.2s;

}
/*-----footer-----*/
.footer{
    text-align: center;
    padding-top: 20px;
    height: auto;
    width: 100%;
    bottom: 0;
    background-color: #130b28;
    color: #f5f5f5;
}
.footer h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.footer p{
    font-size: 14px;
    padding-bottom: 10px;
}
.footer-btn{
    padding: 10px 20px;
    background-color: #3d0768a3;
    color: #f5f5f5;
    font-size: 14px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
.footer-btn:hover{
    background-color: #bf5cf8;
    transition: 0.2s;
}
.footer hr{
    width: 80%;
    margin: 15px auto;
    border: 1px solid #f5f5f58f;
}

/*-----home section-----*/

.Homepage{
    text-align: center;
    height: 100vh;
    background-color: #130b28;
}
 .homecontent{
    max-width: 800px;
    position: absolute;
    left: 5%;
    top: 45%;
 }
.homecontent h1{
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 20px;
}
.image-container img{
    max-width: 500px;
    height: auto;
    opacity: 0.85;
    position: absolute;
    left: 50%;
    top: 25%;
    animation: float 10s ease-in-out infinite;


}
.socials{
    position: absolute;
    right: 50px;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials img{
    background-color: #bf5cf88d;
    border-radius:50px;
    padding: 6px 6px;
    width: 40px;
}
.socials img:hover{
    background-color: #bf5cf8;
    scale: 1.2;
    opacity: 100%;
}
.socials hr{
    width: 100%;
    margin: 10px auto;
    border: 1px solid #f5f5f58f;
    transform: rotateY('90deg');
    
}
.about{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 90vh;  
    background-color: #130b28fd; 
}
.abt{
    animation: slideUp 1.8s ease-out forwards;
}
.about h2{
    font-size: 40px;
    padding-bottom: 5%
}
.about p{
    font-size: 20px;
    max-width: 550px;
    text-align: justify;
}
.profilePic{
    width: 350px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(212, 113, 213, 0.525);
    animation: slideRight 1.5s ease-out forwards;
    opacity: 90%;
}
.btn{
    padding: 10px 20px;
    color:#d1b7d1;
    background: linear-gradient(290deg,#455bbe,#9341da);
    font-weight: 500;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background: linear-gradient(290deg,#5487ee,#cc91ff);
    color:#454141;
    transition: 0.2s;
}
.project{
    height:auto;
    background-color:#180e30;
}
.projectcontent{
    display: flex;
    text-align: center;
    justify-content: center;
    animation: slideUp 1.8s ease-out forwards;
    gap:5%;
    flex-wrap: wrap;

}
.project h2{
    font-size: 40px;
    padding: 5%;
    text-align: center;


}
.projectcard{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(198, 102, 200, 0.219);
    gap: 20px;
    background-color: #130b28;
    opacity: 90%;

}

.projectcard img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    opacity: 90%;
}
.projectcard h4{
    font-size: 20px;
    font-weight: 500;
}
.projectcard p{
    font-size: 15px;
}   
.project-btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 50px;
}

    
/*-----About-----*/
.About{
    padding:12%;
    padding-bottom: 10px;
    background-color: #130b28;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}
.aboutContent h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.aboutContent p{
    font-size: 20px;
    max-width: 600px;
    text-align: justify;
}
.skills-education{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #130b28;
    padding:10% 0 3% 10%;
    
}
.education,.skills{
    width: 45%;
}
.skills h2,.education h2{
    font-size: 35px;
    padding-bottom: 20px;
}
.skills ul,.education ul{
    list-style: none;
    font-size: 22px;
}
.education ul{
    padding-bottom: 100px;
}
.skills ul> ul>li{
    padding: 10px 0;
    background-color: #7189f5ed;
    color: #000;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(75, 73, 143, 0.166);
    text-align: center;
    width:50%;
}
.skills ul>ul>li:hover{
    background-color: #a130bd;
    color: #fff;
    transition: 0.2s;
}
.education ul li{
    color: #bebcbe;
}
.education ul li:first-child:before,.education li:nth-child(3):before{
    content: '🎀';
    opacity: 70%;
    padding-right: 10px;
    
}
.education ul li:nth-child(2),.education ul li:nth-child(4){
    font-size: 18px;
    margin-left: 15%;
    padding-bottom: 20px;
}


/*-----Projects-----*/
.Projects{
    background-color: #130b28;
}
.Projects h1,.blog-post h1{
    font-size: 45px;
    padding-top: 8%;
    text-align: center;
}
.Projects h2{
    font-size: 30px;
    padding-bottom: 3%;
    text-align: center;
}
.projectList{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap:80px;
    flex-wrap: wrap;
    padding: 5%;
    margin: 0 auto;
}
.Projectcard{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(75, 73, 143, 0.166);
    height: 500px;
    animation: slideRight 1.5s ease-in forwards;
    overflow:auto;
    gap: 40px;
    background-color: #030115d0;
    opacity: 90%;
}
.Projects img{
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.Projects a{
    font-size: 16px;
}

.Projectcard p{
    max-width: 400px;
    text-align: justify;
    padding-bottom: 20px;
}
.proDesc>p:last-of-type{
    padding-bottom: 40px;
    color: rgb(207, 171, 216);
}
.blog-post{
    height: auto;
    background-color: #130b28;
    padding: 5%;
    padding-top: 0;
}
.blog-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}    
.blog-box{
    width: 450px;
    height: 700px;
    background-color:#030115b2;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
}
.blog-pic{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    padding: 5;
}
.blog-text h2{
    font-size: 24px;
    padding: 20px;
}

.blog-text p{
    font-size: 15px;
    text-align: justify;
    padding: 20px;
    padding-bottom: 50px;
}
.blog-text a{
    font-size: 14px;
    margin:20px;
}















/*-----Contact-----*/
.contactContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #130b28;
    padding-top: 8%;
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-left: 5%;
    animation: slideUp 1.5s ease-out forwards;
}
.contact-container h2{
    font-size: 40px;
    padding-bottom: 20px;
}
input[type],textarea{
    width: 400px;
    height: 50px;
    padding-left:25px;
    border-radius: 30px;
    border: none;
    outline: none;
}
textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    max-width: 400px;
}
input:focus,textarea:focus{
    border:3px solid rgb(243, 15, 186);
}
button[type="submit"]{
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    background: linear-gradient(290deg,#455bbe,#9341da);
    cursor: pointer;
    color: rgb(214, 220, 249);
    font-size: medium;
    font-weight: 500;
}
.contactContent img{
    width: 480px;
    opacity: 90%;
	animation: float 10s linear infinite;
}

input[type="email"]:invalid {
    border: 3px solid #9341da;
}

/*-----common styles-----*/
h4{
    text-align: center;
    font-size: 18px;
    padding:10px;
    font-weight: 500;
}

h1,h2{
    animation: slideUp 1.5s ease-out forwards;
    font-weight: 700;  
    background: linear-gradient(to right, #305fbd, #9341da); /* Define the gradient */
    -webkit-background-clip: text; /* Clip the background to the text -relies on text being transparent*/
    color: transparent; 
    text-shadow: 1px 1px 5px rgba(194, 196, 198, 0.168); /* Adds a shadow below text */

}  






/*************************Keyframes********************************/

@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }
}
@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes float {
	0%,100%{
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-10px);
	}

}


/*-----responsive-----*/
@media (max-width: 800px){
    .image-container{
        display: none;
    }
    .about h2, .project h2{
        font-size: 25px;
    }
    .about p{
        font-size: 12px;
        max-width: 300px;
        padding-right: 10px;
    }
    .profilePic{
        width: 200px;
        overflow: scroll;
    }
    .about{
        padding: 5%;
    }
    .about a,.project a{
        font-size: 14px;
    }
    .projectcard{
        width: 300px;
        margin: 5%;
    }
    .aboutContent h1{
        font-size: 40px;
    }
    .aboutContent p{
        font-size: 16px;
        max-width: 400px;
    }
    .skills-education{
        padding: 5% 0 3% 8%;
    }
    .skills h2,.education h2{
        font-size: 25px;
    }
    .skills ul,.education ul{
        font-size: 18px;
    }
    .education ul li:nth-child(2),.education ul li:nth-child(4){
        font-size: 14px;
    }
    .skills ul> ul>li{
        font-size: 16px;
    }
    
    .proImg img{
        width: 300px;
    }
    .Projects h1,.blog-post h1{
        font-size: 35px;
        padding-top: 15%;
    }
    .Projects h2{
        font-size: 25px;
    }
    .Projects p{
        font-size: 16px;
        padding: 10px;
    }
    .blog-box{
        width: 300px;
        height: auto;
        text-align: center;
    }
    .contact-img{
        display: none;
    }
    .contactContent,.intro,.projectList{
        overflow: scroll;
    }

}